/* 
    Stylesheet for layouting my CV page
    Arjen P. de Vries, July 2002
*/

BODY { 
  margin: 20;
  font-family: lucida, helvetica, sans-serif;
  font-size: 11pt;
  background: #F0F0F0;
  color: #000000;
}

A:link    { color: black; text-decoration: none; }
A:visited { color: black; text-decoration: none; }
A:active  { color: white; text-decoration: none; font-weight: 600; }
A:hover   { color: white; text-decoration: none; background-color: gray; }

A:link IMG, A:visited IMG, A:active IMG { border: none 0 }
A IMG { border: none 0 }

H1 { font-family: lucida, helvetica, sans-serif; font-size: 14pt;
     text-align: center }
H2 { font-family: lucida, helvetica, sans-serif; font-size: 12pt;
     font-weight: bold }
P, UL, OL, DD, DT, TD, TH, TR, LI, BLOCKQUOTE
   { font-family: lucida, helvetica, sans-serif; font-size: 11pt }
EM
   { font-family: lucida, helvetica, sans-serif; font-size: 11pt;  
     font-style: italic; text-decoration: none }

PRE, TT, CODE, KBD, SAMP {
        font-family: Courier, monospace;
}
